.fpt-child15,
.fpt-child16 {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.fpt-child16 {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.exam-schedule9,
.fpt-university9 {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.fpt-university9 {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.fpt9,
.frame2 {
  overflow: hidden;
}
.frame2 {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
}
.fpt9 {
  position: relative;
  width: 667px;
  height: 75px;
  flex-shrink: 0;
}
.avt-icon2 {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.avt-icon2:hover {
  border: 1px solid rgba(190, 190, 190, 0.6);
  box-sizing: border-box;
}
.lecturer8 {
  margin: 0;
}
.student-name2 {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 58px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.student-name2:active,
.student-name2:hover {
  color: var(--color-silver-100);
}
.avatar9,
.navbar9 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  gap: 30px;
}
.navbar9 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.profile-image-icon9 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.profile-image-icon9:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.name15,
.tittle9 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.name15:active,
.name15:hover {
  color: var(--color-silver-100);
}
.tittle9 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.tittle9:hover {
  color: var(--color-silver-200);
}
.tittle9:active {
  color: var(--color-silver-100);
}
.name-parent7,
.user-profile9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.user-profile9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.icon12 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.exams19 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-200);
  text-align: left;
  color: #cccccc;
}
.exams-inner5,
.exams18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.exams18 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.exams18:hover {
  background-color: var(--color-gray-500);
}
.exams18:active {
  background-color: var(--color-gray-300);
}
.profile16,
.template-icon12 {
  position: relative;
  flex-shrink: 0;
}
.template-icon12 {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.profile16 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.frame-child24 {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.profile15,
.template-parent10 {
  display: flex;
  justify-content: flex-start;
}
.template-parent10 {
  width: 105px;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: var(--gap-base);
}
.profile15 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.profile15:active,
.profile15:hover {
  background-color: var(--color-gray-400);
}
.upward-trend-icon8 {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.salary16 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-100);
  text-align: left;
  color: #cccccc;
}
.fidollar-sign-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.exams-parent4,
.options4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.exams-parent4 {
  height: 280px;
  gap: var(--gap-3xs);
}
.options4 {
  width: 237px;
  height: 406px;
}
.logout-txt6 {
  line-break: anywhere;
  width: 100%;
}
.logout-wrapper7,
.logout28 {
  display: flex;
  align-items: center;
}
.logout28 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 13px;
  flex-shrink: 0;
}
.logout-wrapper7 {
  flex-direction: row;
  justify-content: center;
}
.logout27,
.menu5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.logout27 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
}
.logout27:hover {
  background-color: var(--color-tomato-300);
}
.logout27:active {
  background-color: var(--color-tomato-200);
}
.menu5 {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  width: 300px;
  justify-content: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.lecturer-id1,
.profile17,
.se1730493 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.profile17 {
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  width: 92px;
  height: 36px;
}
.lecturer-id1,
.se1730493 {
  line-height: 49px;
}
.lecturer-id1 {
  align-self: stretch;
  height: 47px;
}
.se1730493 {
  width: 101px;
  height: 35px;
}
.se173049-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.full-name3,
.on-nh-tn3,
.tinddse173049fpteduvn3 {
  position: relative;
  line-height: 49px;
  display: inline-block;
  flex-shrink: 0;
}
.full-name3 {
  align-self: stretch;
  height: 39px;
}
.on-nh-tn3,
.tinddse173049fpteduvn3 {
  width: 328px;
  height: 35px;
}
.tinddse173049fpteduvn3 {
  width: 526px;
}
.tinddse173049fpteduvn-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
}
.body6,
.row5 {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.body6 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  width: 974px;
  height: 664px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
  box-sizing: border-box;
}
.row5 {
  flex: 1;
  width: 1316px;
  flex-direction: row;
  justify-content: center;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.report-child6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.report-child6:hover {
  background-color: var(--color-tomato-300);
}
.report-child6:active {
  background-color: var(--color-tomato-200);
}
.report19 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.report19:active,
.report19:hover {
  color: var(--color-silver-100);
}
.image-1-icon9 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.image-1-wrapper7 {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.report18 {
  position: absolute;
  top: 0;
  right: 76px;
  width: 251px;
  height: 105px;
}
.logofpt-icon2 {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.bot8,
.prolecturer {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.bot8 {
  align-self: stretch;
  height: 135px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.prolecturer {
  width: 100%;
  height: 982px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.se1730493,
.on-nh-tn3,
.tinddse173049fpteduvn{
  width: 101px;
}

@media screen and (max-width: 1200px) {
  .body6 {
    width: 900px;
  }
  .prolecturer {
    width: 1200px;
  }
}
@media screen and (max-width: 960px) {
  .prolecturer {
    width: 960px;
  }
}
.exams18,.profile15 {
  text-decoration: none;
}