.fpt-child11,
.fpt-child12 {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.fpt-child12 {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.exam-schedule7,
.fpt-university7 {
  position: absolute;
  top: 53px;
  left: 12px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.fpt-university7 {
  top: 15px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.fpt7 {
  position: relative;
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar-child2 {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.avatar-child2:hover,
.profile-image-icon7:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.avatar7,
.navbar7 {
  overflow: hidden;
  display: flex;
}
.avatar7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 60px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.navbar7 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.profile-image-icon7 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.name11,
.tittle7 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.name11:hover {
  color: var(--color-silver-200);
}
.name11:active,
.tittle7:active,
.tittle7:hover {
  color: var(--color-silver-100);
}
.tittle7 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.name-parent5,
.user-profile7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.user-profile7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.exams15 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-100);
  text-align: left;
}
.profile10,
.template-icon10 {
  position: relative;
  flex-shrink: 0;
}
.template-icon10 {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.profile10 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.frame-child22 {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.template-parent8 {
  width: 105px;
  position: relative;
  gap: var(--gap-base);
}
.profile-child,
.profile9,
.template-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.profile9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.profile9:active,
.profile9:hover {
  background-color: var(--color-gray-400);
}
.upward-trend-icon6 {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.register7 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-200);
  text-align: left;
}
.fidollar-sign-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.salary12 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-100);
  text-align: left;
}
.fidollar-sign-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.reports8 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-200);
  text-align: left;
}
.exams-parent2,
.inbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inbox {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 237px;
  box-sizing: border-box;
}
.inbox:hover {
  background-color: var(--color-gray-500);
}
.inbox:active {
  background-color: var(--color-gray-300);
}
.exams-parent2 {
  height: 347px;
  gap: var(--gap-3xs);
}
.logout23 {
  margin: 0;
}
.logout-txt4 {
  line-break: anywhere;
  width: 100%;
}
.logout-wrapper5,
.logout22 {
  display: flex;
  align-items: center;
}
.logout22 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 13px;
  flex-shrink: 0;
}
.logout-wrapper5 {
  flex-direction: row;
  justify-content: center;
}
.left-side-menu5,
.logout21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.logout21 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
}
.logout21:hover {
  background-color: var(--color-tomato-300);
}
.logout21:active {
  background-color: var(--color-tomato-200);
}
.left-side-menu5 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  height: 585px;
  justify-content: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.profile11,
.se1730491 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.profile11 {
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  width: 92px;
  height: 36px;
}
.se1730491 {
  line-height: 49px;
  width: 101px;
  height: 35px;
}
.se173049-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.full-name1,
.on-nh-tn1,
.tinddse173049fpteduvn1 {
  position: relative;
  line-height: 49px;
  display: inline-block;
  flex-shrink: 0;
}
.full-name1 {
  align-self: stretch;
  height: 39px;
}
.on-nh-tn1,
.tinddse173049fpteduvn1 {
  width: 328px;
  height: 35px;
}
.tinddse173049fpteduvn1 {
  width: 526px;
}
.tinddse173049fpteduvn-container {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
}
.phone {
  align-self: stretch;
  position: relative;
  line-height: 49px;
  display: inline-block;
  height: 47px;
  flex-shrink: 0;
}
.body4 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  width: 414px;
  height: 644px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.report-child4 {
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  background-color: var(--color-tomato-100);
  width: 210px;
  height: 46px;
}
.report-child4:hover {
  background-color: var(--color-tomato-500);
}
.report-child4:active {
  background-color: var(--color-tomato-400);
}
.report15 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.report15:active,
.report15:hover {
  color: var(--color-silver-100);
}
.image-1-icon7 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.image-1-wrapper5 {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.report14 {
  position: absolute;
  top: 71px;
  right: -42.5px;
  width: 251px;
  height: 105px;
}
.logo-long-1-icon5 {
  position: relative;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.logo1 {
  position: absolute;
  top: 7px;
  left: 80.5px;
  width: 274px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bot6,
.phone-prolecturer1 {
  background-color: var(--color-white);
  overflow: hidden;
}
.bot6 {
  position: relative;
  width: 417px;
  height: 187px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.phone-prolecturer1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.phone-prolecturer {
  position: relative;
  width: 100%;
  height: 1558px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}