.refpt-inner,
.rerectangle-div {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.rerectangle-div {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.reexam-schedule1,
.refpt-university1 {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.refpt-university1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.reframe {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
  overflow: hidden;
}
.reavt-icon,
.refpt1 {
  position: relative;
}
.refpt1 {
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.reavt-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.reavt-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.restudent {
  margin: 0;
}
.restudent-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 61px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.restudent-name:active,
.restudent-name:hover {
  color: var(--color-silver-100);
}
.reavatar1,
.renavbar1 {
  overflow: hidden;
  display: flex;
}
.reavatar1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.renavbar1 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.reprofile-image-icon1 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.reprofile-image-icon1:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.rename2,
.retittle1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.rename2:hover {
  color: var(--color-silver-200);
}
.rename2:active {
  color: var(--color-silver-100);
}
.retittle1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.retittle1:hover {
  color: var(--color-silver-200);
}
.retittle1:active {
  color: var(--color-silver-100);
}
.rename-group,
.reuser-profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.reuser-profile1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.reexams3 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-100);
  text-align: left;
}
.reexams-child,
.reexams2,
.reicon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reicon-container {
  justify-content: center;
  gap: var(--gap-base);
}
.reexams-child,
.reexams2 {
  justify-content: flex-start;
}
.reexams2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.reexams2:hover {
  background-color: var(--color-gray-500);
}
.reexams2:active {
  background-color: var(--color-gray-300);
}
.rehomeoutline-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.reprofile4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-100);
  text-align: left;
}
.rehomeoutline-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.reregister1,
.reupward-trend-icon {
  position: relative;
  height: 26.2px;
  flex-shrink: 0;
}
.reupward-trend-icon {
  width: 24.8px;
  overflow: hidden;
}
.reregister1 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-100);
  text-align: left;
  display: inline-block;
  width: 74.3px;
}
.reregister,
.resalary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-51xl) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 233px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.reregister:hover {
  background-color: var(--color-gray-500);
}
.reregister:active {
  background-color: var(--color-gray-300);
}
.resalary {
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  width: 237px;
}
.resalary:hover {
  background-color: var(--color-gray-500);
}
.resalary:active {
  background-color: var(--color-gray-300);
}
.rereports-icon,
.rereports3 {
  position: relative;
  height: 22px;
  flex-shrink: 0;
}
.rereports-icon {
  width: 24px;
  overflow: hidden;
  z-index: 0;
}
.rereports3 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  z-index: 1;
}
.reframe-item {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.rereports-parent {
  width: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-base);
}
.rereports2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 233px;
  box-sizing: border-box;
}
.rereports2:hover {
  background-color: var(--color-gray-400);
}
.rereports2:active {
  background-color: var(--color-gray-500);
}
.reexams-group,
.reoptions1,
.rereports2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.reexams-group {
  width: 233px;
  gap: var(--gap-3xs);
}
.reoptions1 {
  width: 234px;
  height: 406px;
}
.relogout4 {
  position: absolute;
  top: -4px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 16px;
}
.relogout-container {
  position: relative;
  width: 52px;
  height: 18px;
}
.relogout3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.relogout3:hover {
  background-color: var(--color-tomato-300);
}
.relogout3:active {
  background-color: var(--color-tomato-200);
}
.remenu,
.replease-let-us,
.rereports4,
.resorry-for-the {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remenu {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  flex-direction: column;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.replease-let-us,
.rereports4,
.resorry-for-the {
  position: relative;
  width: 213px;
  height: 46px;
  flex-shrink: 0;
}
.replease-let-us,
.resorry-for-the {
  width: 366px;
  height: 24px;
}
.replease-let-us {
  width: 740px;
}
.rebody1,
.replease-let-us-know-about-the-t-wrapper {
  width: 778px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-175xl);
  box-sizing: border-box;
}
.rebody1 {
  width: 753px;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.reimage-2-icon {
  position: relative;
  width: 268px;
  height: 268px;
  object-fit: cover;
}
.revector-icon {
  position: relative;
  width: 18px;
  height: 20px;
}
.rebody,
.rebtn-report,
.rerow {
  display: flex;
  align-items: center;
}
.rebtn-report {
  cursor: pointer;
  border: 0;
  padding: 15px 64px;
  background-color: #f57c51;
  border-radius: 6px;
  width: 205px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.rebtn-report:hover {
  background-color: rgba(242, 95, 76, 0.6);
}
.rebtn-report:active {
  background-color: var(--color-tomato-100);
}
.rebody,
.rerow {
  gap: var(--gap-xl);
}
.rebody {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  height: 700px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
  box-sizing: border-box;
}
.rerow {
  width: 1512px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
.rereport-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.rereport-item:hover {
  background-color: var(--color-tomato-300);
}
.rereport-item:active {
  background-color: var(--color-tomato-400);
}
.rereport3 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.rereport3:active,
.rereport3:hover {
  color: var(--color-silver-100);
}
.reimage-1-icon1 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.reimage-1-container {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.rereport2 {
  position: absolute;
  top: 0;
  right: 76px;
  width: 251px;
  height: 105px;
}
.relogofpt-icon {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.rebot,
.rereportlec {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.rebot {
  align-self: stretch;
  height: 135px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.rereportlec {
  width: 100%;
  height: 1003.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.reexams2{
    text-decoration: none;
  }
  .reexams2:hover{
    text-decoration: none;
  }.reregister{
    text-decoration: none;
  }
  .reregister:hover{
    text-decoration: none;
  }.resalary{
    text-decoration: none;
  }
  .resalary:hover{
    text-decoration: none;
  }
@media screen and (max-width: 1200px) {
  .rebody {
    width: 900px;
  }
  .rereportlec {
    width: 1200px;
  }
}
@media screen and (max-width: 960px) {
  .rereportlec {
    width: 960px;
  }
}