.fpt-child,
.fpt-item {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: #ff8906;
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.fpt-item {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.exam-schedule,
.fpt-university {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.fpt-university {
  top: 0;
  left: 0;
  font-size: 36px;
  font-family: Inika;
  width: 296px;
  height: 38px;
}
.frame {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
  overflow: hidden;
}
.avt-icon,
.fpt {
  position: relative;
}
.fpt {
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.avt-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.avt-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.student {
  margin: 0;
}
.student-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 61px;
  font-size: 12px;
  font-family: Inter;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.student-name:active,
.student-name:hover {
  color: #bebebe;
}
.avatar,
.navbar {
  overflow: hidden;
  display: flex;
}
.avatar {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: transparent;
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: 10px;
}
.navbar {
  align-self: stretch;
  background-color: #f25f4c;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;
}
.profile-image-icon {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.profile-image-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.name1,
.tittle {
  position: relative;
  font-size: 24px;
  line-height: 100%;
  font-family: Quicksand;
  color: #fff;
  text-align: left;
}
.name1:hover {
  color: rgba(190, 190, 190, 0.9);
}
.name1:active {
  color: #bebebe;
}
.tittle {
  font-size: 14px;
  font-family: Inter;
  color: #7f7f7f;
}
.tittle:hover {
  color: rgba(190, 190, 190, 0.9);
}
.tittle:active {
  color: #bebebe;
}
.name-parent,
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.user-profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: 20px;
}
.exams1,
.template-icon {
  position: relative;
  flex-shrink: 0;
}
.template-icon {
  width: 25px;
  height: 23px;
  overflow: hidden;
}
.exams1 {
  font-size: 16px;
  font-family: Poppins;
  color: #ccc;
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
}
.template-parent {
  width: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.frame-child {
  width: 78px;
}
.exams,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: row;
  align-items: center;
  gap: 38px;
}
.exams {
  cursor: pointer;
  border: 0;
  padding: 12px 0 12px 12px;
  background-color: transparent;
  border-radius: 8px;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.exams:hover {
  background-color: rgba(3, 3, 3, 0.6);
}
.exams:active {
  background-color: #030303;
}
.upward-trend-icon {
  position: relative;
  width: 24.8px;
  height: 26.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.create-exams1 {
  position: relative;
  font-size: 16px;
  line-height: 100%;
  font-family: Inter;
  color: #ccc;
  text-align: left;
}
.create-exams,
.upward-trend-parent {
  display: flex;
  justify-content: flex-start;
}
.upward-trend-parent {
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.create-exams {
  cursor: pointer;
  border: 0;
  padding: 12px 70px 12px 12px;
  background-color: transparent;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.create-exams:hover {
  background-color: rgba(3, 3, 3, 0.6);
}
.create-exams:active {
  background-color: #030303;
}
.create-data,
.template-icon1 {
  position: relative;
  flex-shrink: 0;
}
.template-icon1 {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.create-data {
  font-size: 16px;
  font-family: Poppins;
  color: #fff;
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.frame-item {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid #00b578;
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.template-group {
  width: 105px;
  position: relative;
  gap: 16px;
}
.createdata-inner,
.createdata1,
.template-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.createdata1 {
  cursor: pointer;
  border: 0;
  padding: 12px 0 12px 12px;
  background-color: #030303;
  border-radius: 8px;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.createdata1:active,
.createdata1:hover {
  background-color: rgba(3, 3, 3, 0.5);
}
.uedit-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.edit,
.menu1 {
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.edit {
  cursor: pointer;
  border: 0;
  padding: 12px 70px 12px 12px;
  background-color: transparent;
  box-sizing: border-box;
}
.edit:hover {
  background-color: rgba(3, 3, 3, 0.6);
}
.edit:active {
  background-color: #030303;
}
.menu1 {
  height: 412px;
  gap: 10px;
}
.logout-txt {
  line-break: anywhere;
  width: 100%;
}
.logout1 {
  position: relative;
  font-size: 15px;
  line-height: 100%;
  display: flex;
  font-family: Quicksand;
  color: #fff;
  text-align: center;
  align-items: center;
  width: 52px;
  height: 27px;
  flex-shrink: 0;
}
.logout,
.logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logout {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: #f25f4c;
  border-radius: 100px;
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.logout:hover {
  background-color: rgba(242, 95, 75, 0.66);
}
.logout:active {
  background-color: rgba(242, 95, 75, 0.69);
  flex-direction: row;
}
.create-data1,
.menu {
  justify-content: center;
}
.menu {
  border-radius: 16px;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: 4px;
}
.create-data1 {
  position: relative;
  font-size: 27px;
  font-family: Poppins;
  color: #353535;
  width: 213px;
  height: 46px;
  flex-shrink: 0;
}
.create-data1,
.student-wrapper,
.student2 {
  display: flex;
  align-items: center;
}
.student2 {
  position: relative;
  line-height: 49px;
  justify-content: center;
  width: 101.5px;
  height: 22px;
  flex-shrink: 0;
}
.student-wrapper {
  width: 689px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.browser {
  position: relative;
  font-size: 15px;
  line-height: 49px;
  font-family: Roboto;
  color: #fff;
  text-align: left;
}
.browser-wrapper {
  cursor: pointer;
  border: 2px solid #f25f4c;
  padding: 10px;
  background-color: #ff8906;
  position: absolute;
  top: 8px;
  left: 315.1px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.browser-wrapper:hover {
  background-color: rgba(247, 147, 34, 0.6);
}
.browser-wrapper:active {
  background-color: #f79322;
}
.frame-wrapper {
  position: relative;
  border-radius: 3px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 400px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
}
.uexport-parent {
  cursor: pointer;
  border: 2px solid #f25f4c;
  padding: 10px;
  background-color: #ff8906;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  justify-content: center;
  gap: 10px;
}
.uexport-parent:hover {
  background-color: rgba(247, 147, 34, 0.6);
}
.uexport-parent:active {
  background-color: #f79322;
}
.fidownload-parent,
.frame-group,
.uexport-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fidownload-parent {
  cursor: pointer;
  border: 2px solid #f25f4c;
  padding: 10px;
  background-color: #ff8906;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  justify-content: center;
  gap: 2px;
}
.fidownload-parent:hover {
  background-color: rgba(247, 147, 34, 0.6);
}
.fidownload-parent:active {
  background-color: #f79322;
}
.frame-group {
  width: 691px;
  overflow: hidden;
  justify-content: flex-start;
  gap: 40px;
}
.browser-container,
.frame-div {
  box-sizing: border-box;
  display: flex;
}
.browser-container {
  cursor: pointer;
  border: 2px solid #f25f4c;
  padding: 10px;
  background-color: #ff8906;
  border-radius: 5px;
  height: 26px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.browser-container:hover {
  background-color: rgba(253, 179, 95, 0.6);
}
.browser-container:active {
  background-color: #fdb35f;
}
.frame-div {
  border-radius: 3px;
  border: 1px solid #000;
  width: 400px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 7px 9.92724609375px;
}
.body,
.lecturer,
.row {
  display: flex;
  align-items: center;
}
.lecturer {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
}
.body,
.row {
  gap: 20px;
}
.body {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  height: 490px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 51px;
  box-sizing: border-box;
}
.row {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #000;
  font-family: Roboto;
}
.report-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f25f4c;
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: 100px;
  width: 210px;
  height: 46px;
}
.report-child:hover {
  background-color: rgba(242, 95, 75, 0.66);
}
.report-child:active {
  background-color: rgba(242, 95, 76, 0.69);
}
.report1 {
  position: absolute;
  top: 61.8px;
  left: 0;
  display: inline-block;
  width: 103px;
  height: 43px;
}
.report1:active,
.report1:hover {
  color: #bebebe;
}
.image-1-icon {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.image-1-wrapper {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}
.report {
  position: absolute;
  top: -0.2px;
  right: 76px;
  width: 251px;
  height: 105px;
}
.logofpt-icon {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.bot,
.createdata {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.bot {
  align-self: stretch;
  height: 135px;
  flex-shrink: 0;
  font-size: 32px;
  font-family: Inika;
}
.createdata {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Inter;
}
.frame-div {
  display: flex;
  align-items: center; /* CÄƒn giá»¯a cÃ¡c pháº§n tá»­ theo chiá»u dá»c */
  justify-content: space-between; /* CÄƒn cÃ¡c pháº§n tá»­ theo chiá»u ngang */
}
.file-name {
  /* Äiá»u chá»‰nh CSS cho tÃªn file náº¿u cáº§n */
  margin-right: 0px; /* ThÃªm khoáº£ng cÃ¡ch giá»¯a nÃºt vÃ  tÃªn file náº¿u cáº§n */
  color: black;
}

@media screen and (max-width: 1200px) {
  .body {
    width: 900px;
  }
  .createdata {
    width: 1200px;
  }
}
@media screen and (max-width: 960px) {
  .createdata {
    width: 960px;
  }
}