.cfpt-inner,
.crectangle-div {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.crectangle-div {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.cexam-schedule2{
  top: 0;
  left: 0;
}
.cframe-inner{
  left: 0;
}
.cexam-schedule1,
.cfpt-university1 {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.cfpt-university1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.cframe {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
  overflow: hidden;
}
.cavt-icon,
.cfpt1 {
  position: relative;
}
.cfpt1 {
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.cavt-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.cavt-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.cstudent {
  margin: 0;
}
.cstudent-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 61px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.cstudent-name:active,
.cstudent-name:hover {
  color: var(--color-silver-100);
}
.cavatar1,
.cnavbar1 {
  overflow: hidden;
  display: flex;
}
.cavatar1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.cnavbar1 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.cprofile-image-icon1 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.cprofile-image-icon1:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.cname2,
.ctittle1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.cname2:hover {
  color: var(--color-silver-200);
}
.cname2:active {
  color: var(--color-silver-100);
}
.ctittle1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.ctittle1:hover {
  color: var(--color-silver-200);
}
.ctittle1:active {
  color: var(--color-silver-100);
}
.cname-group,
.cuser-profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.cuser-profile1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.cexams2,
.cicon2 {
  position: relative;
  flex-shrink: 0;
}
.cicon2 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 0;
}
.cexams2 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.cframe-item {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.cicon-container {
  width: 105px;
  position: relative;
  gap: var(--gap-base);
}
.cicon-container,
.cregister,
.cregister-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.cregister {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.cregister:hover {
  background-color: var(--color-gray-400);
}
.cprofile3:hover,
.cregister:active {
  background-color: var(--color-gray-500);
}
.chomeoutline-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.cprofile4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-100);
  text-align: left;
}
.chomeoutline-parent,
.cprofile3 {
  display: flex;
  justify-content: flex-start;
}
.chomeoutline-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.cprofile3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-51xl) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.cprofile3:active {
  background-color: var(--color-gray-300);
}
.cupward-trend-icon {
  position: relative;
  width: 24.8px;
  height: 26.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.cfidollar-sign-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.cregister-parent,
.csalary {
  width: 233px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.csalary {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  box-sizing: border-box;
}
.csalary:hover {
  background-color: var(--color-gray-500);
}
.csalary:active {
  background-color: var(--color-gray-300);
}
.cregister-parent {
  height: 402px;
  gap: var(--gap-3xs);
}
.clogout4 {
  position: absolute;
  top: -4px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 16px;
}
.clogout-container {
  position: relative;
  width: 52px;
  height: 18px;
}
.clogout3,
.cmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clogout3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.clogout3:hover {
  background-color: var(--color-tomato-300);
}
.clogout3:active {
  background-color: var(--color-tomato-200);
}
.cmenu {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  justify-content: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.cexam-schedule2 {
  position: relative;
  font-size: var(--font-size-8xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  width: 213px;
  height: 36px;
  flex-shrink: 0;
}
.ccourses {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 70px;
  flex-shrink: 0;
}
.ccourses,
.cdate,
.croom {
  position: relative;
  line-height: 49px;
}
.croom {
  color: #d1d1d1;
  text-align: left;
  display: flex;
  align-items: center;
  width: 64px;
  height: 70px;
  flex-shrink: 0;
}
.cdate {
  justify-content: center;
  width: 68px;
  height: 78px;
}
.ccourses-parent,
.cdate,
.cslot {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.cslot {
  position: relative;
  line-height: 49px;
  justify-content: center;
  width: 49px;
  height: 69.8px;
}
.ccourses-parent {
  width: 883px;
  height: 46px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 44px;
  box-sizing: border-box;
  gap: 88px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.cframe-inner {
  position: relative;
  background-color: var(--color-black);
  width: 940px;
  height: 1px;
}
.ccsd201 {
  width: 117px;
}
.ccsd201,
.cdiv,
.cdiv1,
.cdiv2 {
  position: relative;
  line-height: 49px;
  display: inline-block;
  flex-shrink: 0;
}
.cdiv {
  font-size: var(--font-size-sm);
  width: 66px;
}
.cdiv1,
.cdiv2 {
  width: 94px;
}
.cdiv2 {
  font-size: var(--font-size-sm);
  width: 89px;
}
.cvector-icon {
  position: relative;
  width: 25px;
  height: 22.2px;
}
.cvector-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cvector-icon1 {
  position: relative;
  width: 18.8px;
  height: 25px;
}
.cvector-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.ccsd201-parent,
.crectangle-parent,
.cvector-container {
  flex-direction: row;
  justify-content: center;
}
.ccsd201-parent {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 var(--padding-31xl) 0 0;
  gap: var(--gap-43xl);
}
.crectangle-parent {
  align-self: stretch;
  overflow: hidden;
  flex-wrap: wrap;
  gap: var(--gap-3xs);
}
.cbody,
.crectangle-parent,
.crow {
  display: flex;
  align-items: center;
}
.cbody {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  height: 633px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.crow {
  width: 1281.9px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.creport-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.creport-item:hover {
  background-color: var(--color-tomato-300);
}
.creport-item:active {
  background-color: var(--color-tomato-400);
}
.creport3 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.creport3:active,
.creport3:hover {
  color: var(--color-silver-100);
}
.cimage-1-icon1 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.cimage-1-container {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.creport2 {
  position: absolute;
  top: 0;
  right: 76px;
  width: 251px;
  height: 105px;
}
.clogofpt-icon {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.cbot,
.cexschedulelec {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.cbot {
  align-self: stretch;
  height: 135px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.cexschedulelec {
  width: 100%;
  height: 1003.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.cexams2{
  padding: 0;
}

.cprofile3{
  text-decoration: none;
}
.cprofile3{
  text-decoration: none;
}.csalary{
  text-decoration: none;
}
.csalary:hover{
  text-decoration: none;
}


.cregister{
  text-decoration: none;
}
.cregister:hover{
  text-decoration: none;
}
.bodyexScheLec{
  overflow: auto; 
}

::-webkit-scrollbar {
  width: 10px; 
}


::-webkit-scrollbar-thumb {
  background: #F25F4C;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #D94A43; 
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


@media screen and (max-width: 1200px) {
  .ccourses-parent {
    width: 856px;
  }
  .cbody {
    width: 600px;
  }

  .cexschedulelec{
    width: 1200px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {

  .cexschedulelec {
    width: 960px;
  }
}