.fpt-inner,
.rectangle-div {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.rectangle-div {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.exam-schedule1,
.fpt-university1 {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.fpt-university1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.frame {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
  overflow: hidden;
}
.avt-icon,
.fpt1 {
  position: relative;
}
.fpt1 {
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.avt-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.avt-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.student {
  margin: 0;
}
.student-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 61px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.student-name:active,
.student-name:hover {
  color: var(--color-silver-100);
}
.avatar1,
.navbar1 {
  overflow: hidden;
  display: flex;
}
.avatar1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.navbar1 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.profile-image-icon1 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.profile-image-icon1:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.name2,
.tittle1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.name2:hover {
  color: var(--color-silver-200);
}
.name2:active {
  color: var(--color-silver-100);
}
.tittle1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.tittle1:hover {
  color: var(--color-silver-200);
}
.tittle1:active {
  color: var(--color-silver-100);
}
.name-group,
.user-profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.user-profile1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.exams3,
.template-icon1 {
  position: relative;
  flex-shrink: 0;
}
.template-icon1 {
  width: 25px;
  height: 23px;
  overflow: hidden;
}
.exams3 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-100);
  text-align: left;
  display: inline-block;
  width: 112px;
  height: 22px;
}
.template-group {
  width: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-item {
  width: 78px;
  border-right: none;
}
.exams2,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.frame-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-19xl);
}
.exams2 {
    height: 47px;
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-200);
  border-radius: var(--br-5xs);
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.exams2:hover {
  background-color: var(--color-gray-500);
}
.exams2:active {
  background-color: var(--color-gray-300);
}
.upward-trend-icon {
  position: relative;
  width: 24.8px;
  height: 26.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.create-exams {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-100);
  text-align: left;
}
.createexams,
.upward-trend-parent {
  display: flex;
  justify-content: flex-start;
}
.upward-trend-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.createexams {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-51xl) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.createexams:hover {
  background-color: var(--color-gray-500);
}
.createexams:active {
  background-color: var(--color-gray-300);
}
.upward-trend-icon1 {
  position: relative;
  width: 22.9px;
  height: 26.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.create-data1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-100);
  text-align: left;
}
.create-data {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-51xl) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.create-data:hover {
  background-color: var(--color-gray-500);
}
.create-data:active {
  background-color: var(--color-gray-300);
}
.edits,
.template-icon2 {
  position: relative;
  flex-shrink: 0;
}
.template-icon2 {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.edits {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.frame-inner {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.template-container {
  width: 105px;
  position: relative;
  gap: var(--gap-base);
}
.edit,
.edit-inner,
.exams-group,
.template-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.edit,
.exams-group {
  flex-direction: column;
  align-items: flex-start;
}
.edit {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 233px;
  box-sizing: border-box;
}
.edit:active,
.edit:hover {
  background-color: var(--color-gray-400);
}
.exams-group {
  width: 234px;
  height: 412px;
  gap: var(--gap-3xs);
}
.logout4 {
  position: absolute;
  top: -4px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 16px;
}
.logout-container {
  position: relative;
  width: 52px;
  height: 18px;
}
.logout3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.logout3:hover {
  background-color: var(--color-tomato-300);
}
.logout3:active {
  background-color: var(--color-tomato-200);
}
.edit-schedule,
.menu {
  justify-content: center;
}
.menu {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.edit-schedule {
  position: relative;
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  width: 213px;
  height: 46px;
  flex-shrink: 0;
}
.courses,
.edit-schedule,
.room {
  display: flex;
  align-items: center;
}
.courses {
  position: relative;
  line-height: 49px;
  justify-content: center;
  width: 90.5px;
  flex-shrink: 0;
}
.room {
  width: 59px;
}
.date,
.room,
.slot {
  position: relative;
  line-height: 49px;
  justify-content: center;
  flex-shrink: 0;
}
.date {
  display: flex;
  align-items: center;
  width: 44.7px;
}
.slot {
  width: 52.2px;
}
.courses-parent,
.lecturer,
.slot {
  display: flex;
  align-items: center;
}
.lecturer {
  position: relative;
  line-height: 49px;
  justify-content: center;
  width: 78.8px;
  flex-shrink: 0;
}
.courses-parent {
  width: 926px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-33xl) 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-77xl);
  font-size: var(--font-size-xl);
}
.frame-child1 {
  position: relative;
  background-color: var(--color-black);
  width: 901.5px;
  height: 0.9px;
}
.csd201 {
  width: 172px;
}
.csd201,
.div,
.div1,
.div2,
.truonglv {
  position: relative;
  line-height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  flex-shrink: 0;
}
.div {
  font-size: var(--font-size-sm);
  width: 110px;
}
.div1,
.div2,
.truonglv {
  width: 137px;
}
.div2,
.truonglv {
  font-size: var(--font-size-sm);
  width: 116px;
}
.truonglv {
  font-size: var(--font-size-mid);
  width: 163px;
}
.vector-icon {
  position: relative;
  width: 26.6px;
  height: 20.8px;
}
.vector-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.vector-wrapper:hover {
  background-color: var(--color-tomato-300);
}
.vector-wrapper:active {
  background-color: var(--color-tomato-200);
}
.vector-icon1 {
  position: relative;
  width: 20px;
  height: 23.4px;
}
.vector-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.vector-container:hover {
  background-color: var(--color-tomato-300);
}
.vector-container:active {
  background-color: var(--color-tomato-200);
}
.frame-button,
.rectangle-parent,
.vector-container,
.vector-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-parent {
  width: 921.5px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0 var(--padding-3xs) 0 var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.frame-button,
.vector-wrapper2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.vector-wrapper2:active,
.vector-wrapper2:hover {
  background-color: var(--color-tomato-300);
}
.btn-save-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-tomato-100);
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  width: 167px;
  height: 46px;
}
.btn-save-child:hover {
  background-color: var(--color-darkorange-300);
}
.btn-save-child:active {
  background-color: var(--color-darkorange);
}
.save,
.usave-icon {
  position: absolute;
  top: 11px;
}
.save {
  left: 61px;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.usave-icon {
  left: 27px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.btn-save {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 167px;
  height: 46px;
}
.body5,
.row {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.body5 {
    height: 710px;
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.row {
  width: 1512px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.report-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.report-item:hover {
  background-color: var(--color-tomato-300);
}
.report-item:active {
  background-color: var(--color-tomato-400);
}
.report3 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.report3:active,
.report3:hover {
  color: var(--color-silver-100);
}
.image-1-icon1 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.image-1-container {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.report2 {
  position: absolute;
  top: 0;
  right: 76px;
  width: 251px;
  height: 105px;
}
.logofpt-icon {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.bot,
.editexamina {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.bot {
  align-self: stretch;
  height: 135px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.editexamina {
  width: 100%;
  height: 1003.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .body5 {
    width: 900px;
  }
  .editexamina {
    width: 1200px;
  }
}
@media screen and (max-width: 960px) {
  .editexamina {
    width: 960px;
  }
}


