.ufpt-inner,
.urectangle-div {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.urectangle-div {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.uexam-schedule1,
.ufpt-university1 {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.ufpt-university1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.uframe {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
  overflow: hidden;
}
.uavt-icon,
.ufpt1 {
  position: relative;
}
.ufpt1 {
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.uavt-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.uavt-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.ustudent {
  margin: 0;
}
.ustudent-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 61px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.ustudent-name:active,
.ustudent-name:hover {
  color: var(--color-silver-100);
}
.uavatar1,
.unavbar1 {
  overflow: hidden;
  display: flex;
}
.uavatar1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.unavbar1 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.uprofile-image-icon1 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.uprofile-image-icon1:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.uname2,
.utittle1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.uname2:hover {
  color: var(--color-silver-200);
}
.uname2:active {
  color: var(--color-silver-100);
}
.utittle1 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.utittle1:hover {
  color: var(--color-silver-200);
}
.utittle1:active {
  color: var(--color-silver-100);
}
.uname-group,
.uuser-profile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.uuser-profile1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.uexams2,
.utemplate-icon1 {
  position: relative;
  flex-shrink: 0;
}
.utemplate-icon1 {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.uexams2 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.uframe-item {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.utemplate-group {
  width: 105px;
  position: relative;
  gap: var(--gap-base);
}
.ucreatedata,
.ucreatedata-inner,
.utemplate-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ucreatedata {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.ucreatedata:active,
.ucreatedata:hover {
  background-color: var(--color-gray-400);
}
.uupward-trend-icon {
  position: relative;
  width: 24.8px;
  height: 26.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.ucreate-exams1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-lightgray-100);
  text-align: left;
}
.ucreate-exams,
.uupward-trend-parent {
  display: flex;
  justify-content: flex-start;
}
.uupward-trend-parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.ucreate-exams {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-51xl) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.ucreate-exams:hover {
  background-color: var(--color-gray-500);
}
.ucreate-exams:active {
  background-color: var(--color-gray-300);
}
.uupward-trend-icon1 {
  position: relative;
  width: 22.9px;
  height: 26.2px;
  overflow: hidden;
  flex-shrink: 0;
}
.ucreate-data1 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-lightgray-100);
  text-align: left;
}
.ucreate-data {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-51xl) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.ucreate-data:hover {
  background-color: var(--color-gray-500);
}
.ucreate-data:active {
  background-color: var(--color-gray-300);
}
.uuedit-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.umenu1 {
  width: 234px;
  height: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ulogout4 {
  position: absolute;
  top: -4px;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 16px;
}
.ulogout-container {
  position: relative;
  width: 52px;
  height: 18px;
}
.ulogout3,
.umenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ulogout3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.ulogout3:hover {
  background-color: var(--color-tomato-300);
}
.ulogout3:active {
  background-color: var(--color-tomato-200);
}
.umenu {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  justify-content: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.uexam-schedule2 {
  position: relative;
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: center;
  width: 213px;
  height: 46px;
  flex-shrink: 0;
}
.ucourses,
.uexam-schedule2,
.uroom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ucourses {
  position: relative;
  line-height: 49px;
  width: 90.5px;
  flex-shrink: 0;
}
.uroom {
  width: 59px;
}
.udate,
.uroom,
.uslot {
  position: relative;
  line-height: 49px;
  flex-shrink: 0;
}
.udate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
}
.uslot {
  text-align: right;
  width: 36px;
}
.ulecturer,
.uname3,
.uslot {
  display: flex;
  align-items: center;
}
.uecturer {
  position: relative;
  line-height: 49px;
  text-align: right;
  width: 76px;
  flex-shrink: 0;
}
.uname3 {
  width: 926px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 0 52px 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: 100px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.uframe-inner {
  position: relative;
  background-color: var(--color-black);
  width: 940px;
  height: 1px;
}
.ucsd201 {
  position: relative;
  line-height: 49px;
  width: 78px;
  flex-shrink: 0;
}
.ucsd201,
.udiv,
.udiv1 {
  display: inline-block;
}
.udiv {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 49px;
  width: 81px;
  flex-shrink: 0;
}
.udiv1 {
  width: 106px;
}
.udiv1,
.udiv2,
.utruonglv {
  position: relative;
  line-height: 49px;
  flex-shrink: 0;
}
.udiv2 {
  font-size: var(--font-size-sm);
  text-align: center;
  display: inline-block;
  width: 66px;
}
.utruonglv {
  font-size: var(--font-size-mid);
  text-align: left;
  display: flex;
  align-items: center;
  width: 89px;
  height: 49px;
}
.ucsd201-parent {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-59xl) 0 var(--padding-66xl);
  gap: var(--gap-61xl);
}
.ubody,
.ucsd201-parent,
.urectangle-parent,
.urow {
  display: flex;
  align-items: center;
}
.urectangle-parent {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-3xs);
}
.ubody,
.urow {
  gap: var(--gap-xl);
}
.ubody {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.urow {
  width: 1326px;
  height: 657.2px;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.ureport-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.ureport-item:hover {
  background-color: var(--color-tomato-300);
}
.ureport-item:active {
  background-color: var(--color-tomato-400);
}
.ureport3 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.ureport3:active,
.ureport3:hover {
  color: var(--color-silver-100);
}
.uimage-1-icon1 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.uimage-1-container {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.ureport2 {
  position: absolute;
  top: 0;
  right: 76px;
  width: 251px;
  height: 105px;
}
.ulogofpt-icon {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.ubot,
.uexamexamina {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.ubot {
  align-self: stretch;
  height: 135px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.uexamexamina {
  width: 100%;
  height: 927px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .ubody {
    width: 900px;
  }
  .uexamexamina {
    width: 1200px;
  }
}
@media screen and (max-width: 960px) {
  .uexamexamina {
    width: 960px;
  }
}