.fpt-child1,
.fpt-child2 {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.fpt-child2 {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.exam-schedule2,
.fpt-university2 {
  position: absolute;
  top: 33px;
  left: 318px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.fpt-university2 {
  top: 15px;
  left: 12px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.fpt2 {
  position: relative;
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar-item {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.avatar-item:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.lecturer {
  margin: 0;
}
.lecturer-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 58px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.lecturer-name:hover {
  text-shadow: 0 4px 4px #bebebe;
}
.lecturer-name:active,
.lecturer-name:hover {
  color: var(--color-silver-100);
}
.avatar2,
.navbar2 {
  overflow: hidden;
  display: flex;
}
.avatar2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 178px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.navbar2 {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.profile-image-icon2 {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.profile-image-icon2:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.name4,
.tittle2 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.name4:hover {
  color: var(--color-silver-200);
}
.name4:active {
  color: var(--color-silver-100);
}
.tittle2 {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.tittle2:hover {
  color: var(--color-silver-200);
}
.tittle2:active {
  color: var(--color-silver-100);
}
.name-container,
.user-profile2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.user-profile2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.exams5,
.icon4 {
  position: relative;
}
.icon4 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.exams5 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: left;
}
.exams-inner1,
.exams4,
.icon-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-parent1 {
  justify-content: center;
  gap: var(--gap-base);
}
.exams-inner1,
.exams4 {
  justify-content: flex-start;
}
.exams4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.exams4:active,
.exams4:hover {
  background-color: var(--color-gray-400);
  border-radius: var(--br-5xs);
}
.exams4:active {
  background-color: var(--color-gray-300);
}
.profile7,
.template-icon2 {
  position: relative;
  flex-shrink: 0;
}
.template-icon2 {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.profile7 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.frame-inner {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.profile6,
.template-container {
  display: flex;
  justify-content: flex-start;
}
.template-container {
  width: 105px;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: var(--gap-base);
}
.profile6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.profile6:active,
.profile6:hover {
  background-color: var(--color-gray-500);
}
.reports5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
}
.reports4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 237px;
  box-sizing: border-box;
}
.reports4:active,
.reports4:hover {
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
}
.exams-container,
.options2,
.reports4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.exams-container {
  height: 273px;
  gap: var(--gap-3xs);
}
.options2 {
  width: 234px;
  height: 503px;
}
.logout-txt2 {
  line-break: anywhere;
  width: 100%;
}
.logout-frame,
.logout7 {
  display: flex;
  align-items: center;
}
.logout7 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 13px;
  flex-shrink: 0;
}
.logout-frame {
  flex-direction: row;
  justify-content: center;
}
.left-side-menu1,
.logout6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  box-sizing: border-box;
}
.logout6:hover {
  background-color: var(--color-tomato-500);
}
.logout6:active {
  background-color: var(--color-tomato-300);
}
.left-side-menu1 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  justify-content: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.profile8,
.se1730492,
.student-id2 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.profile8 {
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  width: 92px;
  height: 36px;
}
.se1730492,
.student-id2 {
  line-height: 49px;
}
.student-id2 {
  align-self: stretch;
  height: 47px;
}
.se1730492 {
  width: 101px;
  height: 35px;
}
.se173049-frame {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.full-name2,
.on-nh-tn2,
.tinddse173049fpteduvn2 {
  position: relative;
  line-height: 49px;
  display: inline-block;
  flex-shrink: 0;
}
.full-name2 {
  align-self: stretch;
  height: 39px;
}
.on-nh-tn2,
.tinddse173049fpteduvn2 {
  width: 328px;
  height: 35px;
}
.tinddse173049fpteduvn2 {
  width: 526px;
}
.tinddse173049fpteduvn-frame {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
}
.profile-group,
.row1 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.profile-group {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  width: 495px;
  height: 615px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
}
.row1 {
  align-self: stretch;
  height: 794px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-13xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.report-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.report-inner:hover {
  background-color: var(--color-tomato-200);
}
.report-inner:active {
  background-color: var(--color-tomato-400);
}
.report5 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.report5:active,
.report5:hover {
  color: var(--color-silver-100);
}
.image-1-icon2 {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.image-1-frame {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.report4 {
  position: absolute;
  top: 0;
  right: 23px;
  width: 251px;
  height: 105px;
}
.logo-long-1-icon1 {
  position: relative;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.logo-long-1-container {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.ipad-pro-11-11,
.report-group {
  background-color: var(--color-white);
  overflow: hidden;
}
.report-group {
  position: relative;
  width: 950px;
  height: 120px;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.ipad-pro-11-11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.ipad-pro-11-1 {
  position: relative;
  width: 100%;
  height: 1194px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}