.vfpt-child,
.vfpt-item {
  position: absolute;
  top: 106.7px;
  left: -60px;
  background-color: var(--color-darkorange);
  width: 370.3px;
  height: 67.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.vfpt-item {
  top: 90.3px;
  left: 117.3px;
  width: 229.9px;
  height: 9.4px;
}
.vexam-schedule,
.vfpt-university {
  position: absolute;
  top: 18px;
  left: 306px;
  display: inline-block;
  width: 349px;
  height: 25px;
}
.vfpt-university {
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inika);
  width: 296px;
  height: 38px;
}
.vframe {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 655px;
  height: 43px;
  overflow: hidden;
}
.vavt-icon,
.vfpt {
  position: relative;
}
.vfpt {
  width: 667px;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
}
.vavt-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 0;
}
.vavt-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.vstudent {
  margin: 0;
}
.vstudent-name {
  position: absolute;
  margin: 0 !important;
  top: 15.5px;
  right: 61px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.vstudent-name:active,
.vstudent-name:hover {
  color: var(--color-silver-100);
}
.vavatar,
.vnavbar {
  overflow: hidden;
  display: flex;
}
.vavatar {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  width: 303px;
  height: 50px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.vnavbar {
  align-self: stretch;
  background-color: var(--color-tomato-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-13xl);
}
.vprofile-image-icon {
  position: relative;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.vprofile-image-icon:hover {
  box-shadow: 0 4px 4px #bebebe;
}
.vname1,
.vtittle {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: left;
}
.vname1:hover {
  color: var(--color-silver-200);
}
.vname1:active {
  color: var(--color-silver-100);
}
.vtittle {
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-gray-100);
}
.vtittle:hover {
  color: var(--color-silver-200);
}
.vtittle:active {
  color: var(--color-silver-100);
}
.vname-parent,
.vuser-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vuser-profile {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 205.5px;
  gap: var(--gap-xl);
}
.vexams1,
.vicon {
  position: relative;
}
.vicon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vexams1 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: left;
}
.vexams,
.vexams-inner,
.vicon-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vicon-parent {
  justify-content: center;
  gap: var(--gap-base);
}
.vexams,
.vexams-inner {
  justify-content: flex-start;
}
.vexams {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.vexams:active,
.vexams:hover {
  background-color: var(--color-gray-400);
  border-radius: var(--br-5xs);
}
.vexams:active {
  background-color: var(--color-gray-300);
}
.vprofile1,
.vtemplate-icon {
  position: relative;
  flex-shrink: 0;
}
.vtemplate-icon {
  width: 25px;
  height: 23px;
  overflow: hidden;
  z-index: 0;
}
.vprofile1 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}
.vframe-child {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.vprofile,
.vtemplate-parent {
  display: flex;
  justify-content: flex-start;
}
.vtemplate-parent {
  width: 105px;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: var(--gap-base);
}
.vprofile {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 237px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.vprofile:active,
.vprofile:hover {
  background-color: var(--color-gray-500);
}
.vicon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vreports1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 100%;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
}
.vicon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.vreports {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  background-color: transparent;
  width: 237px;
  box-sizing: border-box;
}
.vreports:hover {
  border-radius: var(--br-5xs);
}
.vreports:active,
.vreports:hover {
  background-color: var(--color-gray-300);
}
.vexams-parent,
.voptions,
.vreports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vexams-parent {
  height: 273px;
  gap: var(--gap-3xs);
}
.voptions {
  width: 234px;
  height: 406px;
}
.vlogout-txt {
  line-break: anywhere;
  width: 100%;
}
.vlogout1 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 100%;
  font-family: var(--font-quicksand);
  color: var(--color-white);
  text-align: center;
  width: 52px;
  height: 13px;
  flex-shrink: 0;
}
.vlogout,
.vlogout-wrapper,
.vlogout1,
.vmenu {
  display: flex;
  align-items: center;
}
.vlogout-wrapper {
  flex-direction: row;
  justify-content: center;
}
.vlogout,
.vmenu {
  flex-direction: column;
  box-sizing: border-box;
}
.vlogout {
  color: white;
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-tomato-100);
  border-radius: var(--br-81xl);
  width: 237px;
  height: 47px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
}
.vlogout:hover {
  background-color: var(--color-tomato-500);
}
.vlogout:active {
  background-color: var(--color-tomato-300);
}
.vmenu {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  width: 300px;
  justify-content: center;
  padding: 12.09674072265625px 19.927291870117188px 12.09674072265625px
    19.92724609375px;
  gap: var(--gap-9xs);
}
.vprofile2,
.vse173049,
.vstudent-id {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.vprofile2 {
  font-size: var(--font-size-8xl);
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  width: 92px;
  height: 36px;
}
.vse173049,
.vstudent-id {
  line-height: 49px;
}
.vstudent-id {
  align-self: stretch;
  height: 47px;
}
.vse173049 {
  width: 101px;
  height: 35px;
  font-weight: bold;
}
.vse173049-wrapper {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.vfull-name,
.von-nh-tn,
.vtinddse173049fpteduvn {
  position: relative;
  line-height: 49px;
  display: inline-block;
  flex-shrink: 0;
}
.vfull-name {
  align-self: stretch;
  height: 39px;
}
.von-nh-tn,
.vtinddse173049fpteduvn {
  width: 328px;
  height: 35px;
}
.vtinddse173049fpteduvn {
  width: 526px;
}
.vtinddse173049fpteduvn-wrapper {
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-shadow: 0 0 6px #000;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 49px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl);
}
.vbody2,
.vrow {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
}
.vbody2 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
  width: 974px;
  height: 539px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-32xl);
  box-sizing: border-box;
  gap: 23px;
}
.vrow {
  flex: 1;
  width: 1316px;
  flex-direction: row;
  justify-content: center;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.vreport-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-tomato-100);
  position: absolute;
  top: 60px;
  left: -53px;
  border-radius: var(--br-81xl);
  width: 210px;
  height: 46px;
}
.vreport-child:hover {
  background-color: var(--color-tomato-500);
}
.vreport-child:active {
  background-color: var(--color-tomato-400);
}
.vreport1 {
  position: absolute;
  top: 62px;
  left: 0;
  display: inline-block;
  width: 251px;
  height: 43px;
}
.vreport1:active,
.vreport1:hover {
  color: var(--color-silver-100);
}
.vimage-1-icon {
  position: relative;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.vimage-1-wrapper {
  position: absolute;
  top: 0;
  left: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.vreport {
  position: absolute;
  top: 0;
  right: 76px;
  width: 251px;
  height: 105px;
}
.vlogofpt-icon {
  position: absolute;
  top: 31px;
  left: 82px;
  width: 274px;
  height: 104px;
  object-fit: cover;
}
.vbot,
.vprostudent {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.vbot {
  align-self: stretch;
  height: 135px;
  height: fit-content;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inika);
}
.vprostudent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .vbody2 {
    width: 900px;
  }
  .vprostudent {
    width: 1200px;
  }
}

.vse1730493,
.von-nh-tn,
.vtinddse173049fpteduvn{
  width: 300px;
  font-weight: bold;
}

.vstudent-id,
.vfull-name{
  line-height: 49px;
  font-size: 22px;
  right: 0px;
}

.vregister {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-xs);
  background-color: var(--color-gray-300);
  border-radius: var(--br-5xs);
  width: 233px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
} 
 .vregister:hover {
  background-color: var(--color-gray-400);
}

.vregister:active {
  background-color: var(--color-gray-500);
} 

.vicon-container {
  width: 105px;
  position: relative;
  gap: var(--gap-base);
}

.vicon-container,
.vregister,
.vregister-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vexams2,
.vicon2 {
  position: relative;
  flex-shrink: 0;
}
.vicon2 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 0;
}

.vexams2 {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 101.5px;
  height: 22px;
  z-index: 1;
}

.vexams2{
  padding: 0;
}


.vframe-item {
  position: absolute;
  margin: 0 !important;
  top: -0.1px;
  left: 215.1px;
  border-right: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 2px;
  height: 22px;
  z-index: 2;
}
.vreports{
  text-decoration: none;
}
.vreports:hover{
  text-decoration: none;
}
.vexams{
  text-decoration: none;
}
.vexams:hover{
  text-decoration: none;
}.vregister{
  text-decoration: none;
}
.vregister:hover{
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .vprostudent {
    
    width: 960px;
  }
}


