
.loginGoogle{
  margin-left: 55px;
}

.please-enter-log,
.welcome-fpt-university {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
}
.please-enter-log {
  font-size: var(--font-size-xl);
  line-height: 160%;
  color: var(--secondary-text);
  text-align: left;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  font-size: 36px;
  font-family: var(--font-inter);
}
.username {
  border: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  background-color: transparent;
  align-self: stretch;
  position: relative;
  height: 48px;
}
.input4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.forgot-password,
.sign-in2 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 100%;
  text-align: center;
}
.forgot-password {
  text-decoration: none;
  color: var(--color-coral-100);
}
.sign-in2 {
  flex: 1;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
  color: var(--color-white);
}
.form,
.main-button {
  align-self: stretch;
  display: flex;
}
.main-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 0;
  background-color: var(--color-coral-100);
  border-radius: var(--br-xs);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-button:hover {
  background-color: var(--color-coral-200);
}
.form {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: left;
}
.or,
.or-child {
  box-sizing: border-box;
}
.or-child {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  height: 1px;
}
.or {
  width: 388px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-base);
}
.facebook-icon2,
.google-icon2 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.facebook-icon2 {
  display: none;
}
.login-google,
.sign-in-with1 {
  display: flex;
  align-items: center;
}
.sign-in-with1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  line-height: 100%;
  font-family: var(--font-roboto);
  color: var(--secondary-text);
  text-align: left;
  width: 159px;
  flex-shrink: 0;
}
.login-google {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-4xs);
  background-color: var(--color-whitesmoke);
  align-self: stretch;
  border-radius: var(--br-xs);
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-base);
}
.login-google:hover {
  background-color: var(--color-silver);
}
.login-google:active {
  background-color: var(--color-darkgray);
}
.social-buttons-columns,
.social-sign-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-buttons-columns {
  width: 388px;
}
.social-sign-in {
  gap: var(--gap-5xl);
  color: var(--color-darkslategray-100);
}
.logo-long-2-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 81px;
  flex-shrink: 0;
  object-fit: cover;
}
.login-form {
  width: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
}
.left-side-8-column {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-art {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.art,
.main-container {
  display: flex;
  flex-direction: row;
}
.art {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-5xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  gap: 32px;
}
.desktop-try {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1140px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--primary-text);
  font-family: var(--font-roboto);
}
